html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-top: 60px;
    margin-bottom: 60px;
    background: #bdc3c7; /* fallback for old browsers */
    
    padding-bottom: 100px; /* Adjust according to your footer's height */
}

.card-body {
    position: absolute;
    bottom: -110%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75); /* 半透明背景 */
    color: white; /* 文字颜色 */
    padding: 20px;
    transition: bottom 0.4s ease-in-out;
    font-weight: bold;
}

.card:hover .card-body {
    bottom: 0;
}

.date {
    color: lightgray;
}
